body { font-family: Georgia, serif; }
		h1, h2 a { color: #gray;  }
		
		.prueba2 {
			margin:10px;
			width:200px;
			height:200px;
			background-color:#000FFF;
			border:1px solid #666;
			
			-webkit-transition-duration: 5s, 1s, 1s; 
			
			
		}

			.prueba2:hover {
				width:400px;
				height:300px;
				background-color:#61FF00;

				-webkit-transition-duration: 0.5s, 0.5s, 10s; 
				-webkit-transition-timing-function: linear, linear;
				-webkit-transition-delay:0s ,0.5s, 0.5s;
			}
		













* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 8px solid #FF8333;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 4px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
  border-bottom: 5px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #FF8333;
}